architecture_n_tiers/02_webservices/tp4/e2/RecipeManager/RecipeClient/Connected Services/RecipeServiceReference/RecipeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecipeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20130/RecipeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20130/RecipeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20130/RecipeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RecipeShare" />
      <xsd:import schemaLocation="http://localhost:20130/RecipeService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InterfaceRecipeService_AddRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipe" />
  </wsdl:message>
  <wsdl:message name="InterfaceRecipeService_AddRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceRecipeService_GetRecipes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipes" />
  </wsdl:message>
  <wsdl:message name="InterfaceRecipeService_GetRecipes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipesResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceRecipeService_GetRecipesByIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipesByIngredient" />
  </wsdl:message>
  <wsdl:message name="InterfaceRecipeService_GetRecipesByIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipesByIngredientResponse" />
  </wsdl:message>
  <wsdl:portType name="InterfaceRecipeService">
    <wsdl:operation name="AddRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfaceRecipeService/AddRecipe" message="tns:InterfaceRecipeService_AddRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfaceRecipeService/AddRecipeResponse" message="tns:InterfaceRecipeService_AddRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipes">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfaceRecipeService/GetRecipes" message="tns:InterfaceRecipeService_GetRecipes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfaceRecipeService/GetRecipesResponse" message="tns:InterfaceRecipeService_GetRecipes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipesByIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfaceRecipeService/GetRecipesByIngredient" message="tns:InterfaceRecipeService_GetRecipesByIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfaceRecipeService/GetRecipesByIngredientResponse" message="tns:InterfaceRecipeService_GetRecipesByIngredient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_InterfaceRecipeService" type="tns:InterfaceRecipeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRecipe">
      <soap:operation soapAction="http://tempuri.org/InterfaceRecipeService/AddRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipes">
      <soap:operation soapAction="http://tempuri.org/InterfaceRecipeService/GetRecipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipesByIngredient">
      <soap:operation soapAction="http://tempuri.org/InterfaceRecipeService/GetRecipesByIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecipeService">
    <wsdl:port name="BasicHttpBinding_InterfaceRecipeService" binding="tns:BasicHttpBinding_InterfaceRecipeService">
      <soap:address location="http://localhost:20130/RecipeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>