architecture_n_tiers/02_webservices/tp4/e2/RecipeManager/RecipeClient/Connected Services/RecipeServiceReference/RecipeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20130/RecipeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RecipeShare" />
  <xs:element name="Authentificate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthentificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthentificateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_user_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RecipeShare" minOccurs="0" name="p_recipe_to_add" nillable="true" type="q1:Recipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecipeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_user_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RecipeShare" minOccurs="0" name="GetRecipesResult" nillable="true" type="q2:ArrayOfRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipesByIngredient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_user_id" type="xs:int" />
        <xs:element minOccurs="0" name="p_ingredient" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipesByIngredientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RecipeShare" minOccurs="0" name="GetRecipesByIngredientResult" nillable="true" type="q3:ArrayOfRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentSelection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_user_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RecipeShare" minOccurs="0" name="GetCurrentSelectionResult" nillable="true" type="q4:ArrayOfRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_user_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RecipeShare" minOccurs="0" name="GetHistoryResult" nillable="true" type="q5:ArrayOfRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>