architecture_n_tiers/02_webservices/tp2/e2/LibraryManager/LibraryManager/Service References/LibraryManagerServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Authentificate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="p_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="p_password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthentificateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthentificateResult" type="tns:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Person" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Disconnect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_person" type="tns:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisconnectResponse">
        <s:complexType />
      </s:element>
      <s:element name="SearchBookByISBN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="p_isbn" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBookByISBNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchBookByISBNResult" type="tns:Book" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Book">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Author" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISBN" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Stock" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Editor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="tns:ArrayOfComment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfComment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Comment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="a_person" type="tns:Person" />
          <s:element minOccurs="0" maxOccurs="1" name="a_description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Person" type="tns:Person" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchBooksByAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_author" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBooksByAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchBooksByAuthorResult" type="tns:ArrayOfBook" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBook">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBooks">
        <s:complexType />
      </s:element>
      <s:element name="GetBooksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBooksResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommands">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_user" type="tns:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommandsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommandsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_person" type="tns:Person" />
            <s:element minOccurs="0" maxOccurs="1" name="p_title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_author" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="p_isbn" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="p_stock" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="p_editor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddBookResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_book" type="tns:Book" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBookDescriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommentBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_book_to_comment" type="tns:Book" />
            <s:element minOccurs="0" maxOccurs="1" name="p_subscriber" type="tns:Person" />
            <s:element minOccurs="0" maxOccurs="1" name="p_description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommentBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CommentBookResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLibrarian">
        <s:complexType />
      </s:element>
      <s:element name="GetLibrarianResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLibrarianResult" type="tns:Librarian" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Librarian">
        <s:complexContent mixed="false">
          <s:extension base="tns:Person" />
        </s:complexContent>
      </s:complexType>
      <s:element name="GetSubscriber">
        <s:complexType />
      </s:element>
      <s:element name="GetSubscriberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubscriberResult" type="tns:Subscriber" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Subscriber">
        <s:complexContent mixed="false">
          <s:extension base="tns:Person" />
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthentificateSoapIn">
    <wsdl:part name="parameters" element="tns:Authentificate" />
  </wsdl:message>
  <wsdl:message name="AuthentificateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthentificateResponse" />
  </wsdl:message>
  <wsdl:message name="DisconnectSoapIn">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="DisconnectSoapOut">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="SearchBookByISBNSoapIn">
    <wsdl:part name="parameters" element="tns:SearchBookByISBN" />
  </wsdl:message>
  <wsdl:message name="SearchBookByISBNSoapOut">
    <wsdl:part name="parameters" element="tns:SearchBookByISBNResponse" />
  </wsdl:message>
  <wsdl:message name="SearchBooksByAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:SearchBooksByAuthor" />
  </wsdl:message>
  <wsdl:message name="SearchBooksByAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:SearchBooksByAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="GetBooksSoapIn">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="GetBooksSoapOut">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommandsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommands" />
  </wsdl:message>
  <wsdl:message name="GetCommandsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommandsResponse" />
  </wsdl:message>
  <wsdl:message name="AddBookSoapIn">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="AddBookSoapOut">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="GetBookDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:GetBookDescription" />
  </wsdl:message>
  <wsdl:message name="GetBookDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="CommentBookSoapIn">
    <wsdl:part name="parameters" element="tns:CommentBook" />
  </wsdl:message>
  <wsdl:message name="CommentBookSoapOut">
    <wsdl:part name="parameters" element="tns:CommentBookResponse" />
  </wsdl:message>
  <wsdl:message name="GetLibrarianSoapIn">
    <wsdl:part name="parameters" element="tns:GetLibrarian" />
  </wsdl:message>
  <wsdl:message name="GetLibrarianSoapOut">
    <wsdl:part name="parameters" element="tns:GetLibrarianResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubscriberSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubscriber" />
  </wsdl:message>
  <wsdl:message name="GetSubscriberSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubscriberResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Authentificate">
      <wsdl:input message="tns:AuthentificateSoapIn" />
      <wsdl:output message="tns:AuthentificateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input message="tns:DisconnectSoapIn" />
      <wsdl:output message="tns:DisconnectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchBookByISBN">
      <wsdl:input message="tns:SearchBookByISBNSoapIn" />
      <wsdl:output message="tns:SearchBookByISBNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchBooksByAuthor">
      <wsdl:input message="tns:SearchBooksByAuthorSoapIn" />
      <wsdl:output message="tns:SearchBooksByAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <wsdl:input message="tns:GetBooksSoapIn" />
      <wsdl:output message="tns:GetBooksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommands">
      <wsdl:input message="tns:GetCommandsSoapIn" />
      <wsdl:output message="tns:GetCommandsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input message="tns:AddBookSoapIn" />
      <wsdl:output message="tns:AddBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBookDescription">
      <wsdl:input message="tns:GetBookDescriptionSoapIn" />
      <wsdl:output message="tns:GetBookDescriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CommentBook">
      <wsdl:input message="tns:CommentBookSoapIn" />
      <wsdl:output message="tns:CommentBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLibrarian">
      <wsdl:input message="tns:GetLibrarianSoapIn" />
      <wsdl:output message="tns:GetLibrarianSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscriber">
      <wsdl:input message="tns:GetSubscriberSoapIn" />
      <wsdl:output message="tns:GetSubscriberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authentificate">
      <soap:operation soapAction="http://tempuri.org/Authentificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap:operation soapAction="http://tempuri.org/Disconnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBookByISBN">
      <soap:operation soapAction="http://tempuri.org/SearchBookByISBN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBooksByAuthor">
      <soap:operation soapAction="http://tempuri.org/SearchBooksByAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommands">
      <soap:operation soapAction="http://tempuri.org/GetCommands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookDescription">
      <soap:operation soapAction="http://tempuri.org/GetBookDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentBook">
      <soap:operation soapAction="http://tempuri.org/CommentBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLibrarian">
      <soap:operation soapAction="http://tempuri.org/GetLibrarian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriber">
      <soap:operation soapAction="http://tempuri.org/GetSubscriber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authentificate">
      <soap12:operation soapAction="http://tempuri.org/Authentificate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBookByISBN">
      <soap12:operation soapAction="http://tempuri.org/SearchBookByISBN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBooksByAuthor">
      <soap12:operation soapAction="http://tempuri.org/SearchBooksByAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap12:operation soapAction="http://tempuri.org/GetBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommands">
      <soap12:operation soapAction="http://tempuri.org/GetCommands" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap12:operation soapAction="http://tempuri.org/AddBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookDescription">
      <soap12:operation soapAction="http://tempuri.org/GetBookDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentBook">
      <soap12:operation soapAction="http://tempuri.org/CommentBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLibrarian">
      <soap12:operation soapAction="http://tempuri.org/GetLibrarian" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriber">
      <soap12:operation soapAction="http://tempuri.org/GetSubscriber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:44208/LibraryManagerWebSite/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:44208/LibraryManagerWebSite/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>